.recipeStyle h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.recipeStyle h3 {
    padding: 12px 2px;
    font-size: 1.6rem;
}

.recipeStyle > ul > li {
    list-style: disc;
    margin-left: 22px;
}

.recipeStyle img {
    padding: 24px 2px;
}